name: Release container images
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true

env:
  AWS_ECR_ROLE_NAME: "ECR_push_pull_images"
  AWS_ECR_REGION: "eu-west-1"
  AWS_ECR_NODE_RED_REPOSITORY_NAME: "flowforge/node-red"

jobs:
  build_application_container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'
      # sets options for Docker build
      # will tag contianers with ${{ github.event.inputs.version }} and latest
      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=,value=${{ github.event.inputs.version }}
          flavor: |
            latest=true
          images: |
            flowforge/forge-k8s
            flowfuse/forge-k8s
      # sets up multi platform emulators
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # sets up docker buildx
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      # logs into docker hub
      - name: docker login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      # builds container
      - name: Build and push FlowForge Application container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/flowforge-container
          file: helm/flowforge-container/Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7 
          tags: ${{ steps.meta.outputs.tags }}
          push: true
      - name: Push README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowforge/forge-k8s
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          readme-filepath: ./helm/flowforge-container/README.md
      - name: Push README flowfuse
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowfuse/forge-k8s
          username: flowfuse
          password: ${{ secrets.DOCKER_HUB_PASSWORD_FLOWFUSE }}
          readme-filepath: ./helm/flowforge-container/README.md

  build_nodered_container:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ${{ env.AWS_ECR_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}:role/${{ env.AWS_ECR_ROLE_NAME }}
          role-session-name: GithubActionsRoleSession
          role-duration-seconds: 900
        
      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: "${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}"

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=,value=${{ github.event.inputs.version }}
            type=raw,enable=true,priority=200,prefix=latest-,suffix=,value=3.0.x
          flavor: |
            latest=false
          images: |
            flowforge/node-red
            flowfuse/node-red
            ${{ steps.login-ecr.outputs.registry}}/${{ env.AWS_ECR_NODE_RED_REPOSITORY_NAME }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
  
      - name: Build and push Node-RED container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/node-red-container
          file: helm/node-red-container/Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7 
          tags: ${{ steps.meta.outputs.tags }}
          push: true

      - name: Push README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowforge/node-red
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          readme-filepath: ./helm/node-red-container/README.md

      - name: Push README flowfuse
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowfuse/node-red
          username: flowfuse
          password: ${{ secrets.DOCKER_HUB_PASSWORD_FLOWFUSE }}
          readme-filepath: ./helm/node-red-container/README.md

  build_nodered_container_223:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ${{ env.AWS_ECR_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}:role/${{ env.AWS_ECR_ROLE_NAME }}
          role-session-name: GithubActionsRoleSession
          role-duration-seconds: 900
        
      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: "${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}"

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=-2.2.3,value=${{ github.event.inputs.version }}
            type=raw,enable=true,priority=200,prefix=latest-,suffix=,value=2.2.x
          flavor: |
            latest=false
          images: |
            flowforge/node-red
            flowfuse/node-red
            ${{ steps.login-ecr.outputs.registry}}/${{ env.AWS_ECR_NODE_RED_REPOSITORY_NAME }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push Node-RED container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/node-red-container
          file: helm/node-red-container/Dockerfile-2.2.x
          platforms: linux/amd64, linux/arm64, linux/arm/v7 
          tags: ${{ steps.meta.outputs.tags }}
          push: true

  build_nodered_container_31:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ${{ env.AWS_ECR_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}:role/${{ env.AWS_ECR_ROLE_NAME }}
          role-session-name: GithubActionsRoleSession
          role-duration-seconds: 900
        
      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: "${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}"

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=-3.1.x,value=${{ github.event.inputs.version }}
            type=raw,enable=true,priority=200,prefix=latest-,suffix=,value=3.1.x
          flavor: |
            latest=false
          images: |
            flowforge/node-red
            flowfuse/node-red
            ${{ steps.login-ecr.outputs.registry}}/${{ env.AWS_ECR_NODE_RED_REPOSITORY_NAME }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push Node-RED container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/node-red-container
          file: helm/node-red-container/Dockerfile-3.1
          platforms: linux/amd64, linux/arm64, linux/arm/v7 
          tags: ${{ steps.meta.outputs.tags }}
          push: true

  build_nodered_container_40:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ${{ env.AWS_ECR_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}:role/${{ env.AWS_ECR_ROLE_NAME }}
          role-session-name: GithubActionsRoleSession
          role-duration-seconds: 900
        
      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: "${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}"

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=-4.0.x,value=${{ github.event.inputs.version }}
            type=raw,enable=true,priority=200,prefix=latest-,suffix=,value=4.0.x
          flavor: |
            latest=false
          images: |
            flowforge/node-red
            flowfuse/node-red
            ${{ steps.login-ecr.outputs.registry}}/${{ env.AWS_ECR_NODE_RED_REPOSITORY_NAME }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push Node-RED container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/node-red-container
          file: helm/node-red-container/Dockerfile-4.0
          platforms: linux/amd64, linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          push: true

  build_nodered_container_41:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ${{ env.AWS_ECR_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}:role/${{ env.AWS_ECR_ROLE_NAME }}
          role-session-name: GithubActionsRoleSession
          role-duration-seconds: 900
        
      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: "${{ secrets.PRODUCTION_AWS_ACCOUNT_ID }}"

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=-4.1.x,value=${{ github.event.inputs.version }}
            type=raw,enable=true,priority=200,prefix=latest-,suffix=,value=4.1.x
          flavor: |
            latest=true
          images: |
            flowforge/node-red
            flowfuse/node-red
            ${{ steps.login-ecr.outputs.registry}}/${{ env.AWS_ECR_NODE_RED_REPOSITORY_NAME }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push Node-RED container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/node-red-container
          file: helm/node-red-container/Dockerfile-4.1
          platforms: linux/amd64, linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          push: true

  build_file_server_container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowfuse/helm'
          path: 'helm'
      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,enable=true,priority=200,prefix=,suffix=,value=${{ github.event.inputs.version }}
          flavor: |
            latest=true
          images: |
            flowforge/file-server
            flowfuse/file-server
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: docker login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and push FlowForge File Server container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: helm/file-server
          file: helm/file-server/Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7 
          tags: ${{ steps.meta.outputs.tags }}
          push: true
      - name: Push README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowforge/file-server
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          readme-filepath: ./helm/file-server/README.md
      - name: Push README flowfuse
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowfuse/file-server
          username: flowfuse
          password: ${{ secrets.DOCKER_HUB_PASSWORD_FLOWFUSE }}
          readme-filepath: ./helm/file-server/README.md
